<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.css" data-th-href="@{/resources/bootstrap/css/bootstrap.css}" type="text/css" />
    <title>auth</title>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		function getCredentials(){
			var credentials	= new Object();
			credentials.email = /*[[${email}]]*/ 'a@b.c';
			credentials.password = /*[[${password}]]*/ '123';
			return credentials;
		}

		function getContextPath(){
			return /*[[${contextPath}]]*/ "/filesDump";
		}

		function getCsrfToken(){
			var csrfData = new Object();

			csrfData.parameterName = /*[[${_csrf.parameterName}]]*/
			csrfData.token = /*[[${_csrf.token}]]*/

			return csrfData;
		}

		/*]]>*/
	</script>
	
	<script>
	function getActiveUserDirectory(){
		return document.getElementById("activeUserDirectoryInput").innerHTML;
	}

	function setActiveUserDirectory(newActiveDirectory){
		document.getElementById("activeUserDirectoryInput").innerHTML = newActiveDirectory;
	}

		/*
			returns list of FileInfo objects
			FileInfoObject: {
				filename : string
				createTime : Date
				isDirectory : string

				fileSize : int (in bytes)
				fileType : string
				lastModified : Date
			}			
		*/
		function getFilesListFromServer(callback){
			var xmlHttpRequest = new XMLHttpRequest();
			var credentials = getCredentials();			
			var filesListContainer = document.getElementById("filesListContainer");
			var activeUserDirectory = getActiveUserDirectory();
			var filesList;

			var path = getContextPath()+"/rest/userDirectory/"+credentials.password+"/"+credentials.email+"/"+activeUserDirectory;
			xmlHttpRequest.open("GET", path, true);
			xmlHttpRequest.onreadystatechange = function(){
				if(xmlHttpRequest.readyState === 4){
					var response = xmlHttpRequest.responseText;
					filesList = JSON.parse(response, function(key, value){
						if(key == "createTime"){
							return new Date(value);
						}
						if(key == "isDirectory"){
							return ""+value;
						}
						if(key == "lastModified"){
							return new Date(value);
						}
						return value;
					});					

					if(filesList != undefined){
						callback(filesList);
					}
				}
			}
			xmlHttpRequest.send(null);
			
		}

		function getChildNodeByClassName(node, className){
			for(var i=0; i<node.childNodes.length; i++){
				var currentChild = node.childNodes[i];
				if((currentChild.getAttribute != undefined) && (currentChild.getAttribute("class") == className)){
					return node.childNodes[i];
				}
			}
			return null;
		}


		function showFileInfoBlock(fileInfo){
			var fileInfoBlock = document.getElementById("fileInfoBlock");
			fileInfoBlock.style.display = "block";
			var credentials = getCredentials();
			var activeUserDirectory = getActiveUserDirectory();

			document.getElementById("fileInfoBlock_fileNameField").innerHTML = fileInfo.filename;
			document.getElementById("fileInfoBlock_fileSizeField").innerHTML = fileInfo.fileSize;
			if(fileInfo.isDirectory == "true"){
				document.getElementById("fileInfoBlock_fileTypeField").innerHTML = "Directory";
			}else{
				document.getElementById("fileInfoBlock_fileTypeField").innerHTML = fileInfo.fileType;
			}

			var deleteButton = document.getElementById("fileInfoBlock_deleteButton");
			deleteButton.onclick=function(){
				if(fileInfo.isDirectory == "false"){
					deleteFile(fileInfo.filename);
				}else{
					deleteDirectory(fileInfo.filename);
				}
			}

			var linkToFile = document.createElement("a");
			var fileDownloadButton = document.getElementById("fileInfoBlock_downloadButton");
			linkToFile.setAttribute("href", getContextPath()+"/rest/userFile/"+credentials.password+"/"+credentials.email+"/"+activeUserDirectory+fileInfo.filename);
			fileDownloadButton.parentNode.appendChild(linkToFile);
			linkToFile.appendChild(fileDownloadButton);

			document.getElementById("fileInfoBlock_creationTimeField").innerHTML = fileInfo.createTime;
			document.getElementById("fileInfoBlock_lastModifiedField").innerHTML = fileInfo.lastModified;
		}

		function hideFileInfoBlock(){
			var fileInfoBlock = document.getElementById("fileInfoBlock");
			fileInfoBlock.style.display = "none";
		}

		function getSelectionFunction(){
			var oldActiveItem = undefined;

			return function(newActiveItem, newFileInfo){
				function unselectOldItem(){
					oldActiveItem.style.margin = "5px";
					hideFileInfoBlock();					
					oldActiveItem.className = oldActiveItemClasses.filter(function(className){return className != "selected"}).join(" ");
				}

				if(oldActiveItem != undefined){
					var oldActiveItemClasses = oldActiveItem.className.split(" ");

					//if was already selected, unselect
					if((newActiveItem == oldActiveItem) && (oldActiveItemClasses.find(function(className){return className == "selected"}) != undefined)){						
						unselectOldItem();
						return;
					}
					unselectOldItem();
				}

				newActiveItem.style.margin = "3px";
				showFileInfoBlock(newFileInfo);
				newActiveItem.className += " selected";
				oldActiveItem = newActiveItem;
			}
		}

		var selectItemFunction = getSelectionFunction();



		/* 
			returns list of FileInfoDocumentNode objects
			FileInfoDocumentNodeObject: {
				filename : string
				createTime : Date
				isDirectory : string
				fileInfoNode : object;
				fileSize : int (in bytes)
				fileType : string
				lastModified : Date
			}
		*/
		function getLocalFilesList(){
			var filesListContainer = document.getElementById("filesListContainer");
			var localRawFilesList = filesListContainer.childNodes;
			var fileInfoElements = new Array();

			for(var i=0; i<localRawFilesList.length; i++){
				var currentFileInfoElement = new Object();
				var fileInfoNode = getChildNodeByClassName(localRawFilesList[i], "fileInfo");
				if(fileInfoNode == null){
					continue;
				}
				
				currentFileInfoElement.createTime = fileInfoNode.getAttribute("createtime")
				currentFileInfoElement.filename = fileInfoNode.getAttribute("filename");
				currentFileInfoElement.isDirectory = fileInfoNode.getAttribute("isdirectory");
				currentFileInfoElement.fileSize = parseInt(fileInfoNode.getAttribute("filesize"), 10);
				currentFileInfoElement.fileType = fileInfoNode.getAttribute("filetype");
				currentFileInfoElement.lastModified = fileInfoNode.getAttribute("lastmodified");
				currentFileInfoElement.fileInfoNode = fileInfoNode;

				fileInfoElements.push(currentFileInfoElement);
			}
			return fileInfoElements;
		}

		function showFileInfo(filesListContainer, fileInfo){
				var divNode = document.createElement("div");
				divNode.style.display = "inline-block";
				divNode.style.margin = "10px";
				divNode.style.padding= "5px";
				divNode.onclick = function(){
					selectItemFunction(divNode, fileInfo);
				};
				
				var fileInfoNode = document.createElement("div");
				fileInfoNode.setAttribute("class", "fileInfo");
				fileInfoNode.setAttribute("filename", fileInfo.filename);
				fileInfoNode.setAttribute("createtime", fileInfo.createTime);
				fileInfoNode.setAttribute("isdirectory", fileInfo.isDirectory);
				fileInfoNode.setAttribute("filesize", fileInfo.fileSize);
				fileInfoNode.setAttribute("lastmodified", fileInfo.lastModified);
				fileInfoNode.setAttribute("filetype", fileInfo.fileType);

				var fileIcon = document.createElement("div");
				if(fileInfo.isDirectory == "true"){
					fileIcon.ondblclick = function(){showChildFolder(fileInfo.filename);}
					fileIcon.setAttribute("class", "glyphicon glyphicon-folder-open");
				}else{
					fileIcon.setAttribute("class", "glyphicon glyphicon-file");
				}
				fileIcon.style["font-size"] = "50px";


				var fileNameLabel = document.createElement("p");
				fileNameLabel.innerHTML = fileInfo.filename;
				fileNameLabel.setAttribute("width", "100px");


				divNode.appendChild(fileIcon);
				divNode.appendChild(fileNameLabel);
				divNode.appendChild(fileInfoNode);
				filesListContainer.appendChild(divNode);
		}	

		var updateFilesListTimeout;

		function forceUpdate(){
			clearTimeout(updateFilesListTimeout);
			updateFilesList();
		}

		function updateFilesList(){
			//oops
			getFilesListFromServer(function(filesListFromServer){
				var localFilesList = getLocalFilesList();
				var filesListContainer = document.getElementById("filesListContainer");
				var fileInfoBlock_fileNameField = document.getElementById("fileInfoBlock_fileNameField");

				function contains(arr, value){
					for(var i=0; i<arr.length; i++){
						if((arr[i].filename == value.filename) && (arr[i].createTime == value.createTime) && (arr[i].lastModified == value.lastModified) && (arr[i].isDirectory == value.isDirectory)){
							return true;
						}
					}
					return false;
				}

				//removing not existing files
				localFilesList.forEach(function(fileInfoDocumentNode){
					if(!contains(filesListFromServer, fileInfoDocumentNode)){
						filesListContainer.removeChild(fileInfoDocumentNode.fileInfoNode.parentNode);
						if(fileInfoBlock_fileNameField.innerHTML == fileInfoDocumentNode.filename){
							hideFileInfoBlock();
						}
						delete fileInfoDocumentNode;
					}
				});

				//put newly uploaded files
				filesListFromServer.forEach(function(fileInfo){
					if(!contains(localFilesList, fileInfo)){
						showFileInfo(filesListContainer, fileInfo);
					}				
				});

				updateFilesListTimeout = setTimeout(updateFilesList, 5000);
			});
			
		}

		function showParentFolder(){
			var activeUserDirectory = getActiveUserDirectory();
			console.log(activeUserDirectory);

			if(activeUserDirectory == ""){
				//already at root
				return;
			}

			var lastSeparatorIndex = activeUserDirectory.lastIndexOf("/");
			console.log(lastSeparatorIndex);

			if((activeUserDirectory.length != 0) && (lastSeparatorIndex == -1)){
				activeUserDirectory = "";
			}else{
				activeUserDirectory = activeUserDirectory.substring(0, activeUserDirectory.length-1);
				lastSeparatorIndex = activeUserDirectory.lastIndexOf("/");
				activeUserDirectory = activeUserDirectory.substring(0, lastSeparatorIndex+1);
			}
			console.log(activeUserDirectory);
			setActiveUserDirectory(activeUserDirectory);

			forceUpdate()
		}

		function deleteFile(fileName){
			deleteFileOrDirectory(fileName, "file")
		}

		function deleteFileOrDirectory(filename, fileOrDirectory){
			var credentials = getCredentials();
			var activeUserDirectory = getActiveUserDirectory();
			var path;

			if(fileOrDirectory == "directory"){
				path = getContextPath()+"/rest/userDirectory/";
			}else{
				path = getContextPath()+"/rest/userFile/";
			}
			path += credentials.password+"/"+credentials.email+"/"+activeUserDirectory+filename;;

			var xmlHttpRequest = new XMLHttpRequest();
			xmlHttpRequest.open("DELETE", path, true);
			xmlHttpRequest.onreadystatechange = function(){
				if(xmlHttpRequest.readyState === 4){
					forceUpdate();
				}
			}

			var csrfData = getCsrfToken();
			xmlHttpRequest.setRequestHeader("X-CSRF-TOKEN", csrfData.token);
			xmlHttpRequest.send(null);
		}

		function deleteDirectory(dirName){
			deleteFileOrDirectory(dirName, "directory");
		}

		function createDirectory(dirName){
			var credentials = getCredentials();
			var activeUserDirectory = getActiveUserDirectory();
			var path = getContextPath()+"/rest/userDirectory/"+credentials.password+"/"+credentials.email+"/"+activeUserDirectory+dirName;
			console.log(path);

			var xmlHttpRequest = new XMLHttpRequest();
			xmlHttpRequest.open("POST", path, true);
			xmlHttpRequest.onreadystatechange = function(){
				if(xmlHttpRequest.readyState === 4){
					forceUpdate();
				}
			}
			var csrfData = getCsrfToken();
			xmlHttpRequest.setRequestHeader("X-CSRF-TOKEN", csrfData.token);
			xmlHttpRequest.send(null);
		}

		function uploadFile(fileDomElement){
			var xmlHttpRequest = new XMLHttpRequest();
			var activeUserDirectory = getActiveUserDirectory();
			var credentials = getCredentials();
			var contextPath = getContextPath();
			var csrfData = getCsrfToken();

			var formData = new FormData();
			var fileName = fileDomElement.files[0].name;
			formData.set("file", fileDomElement.files[0]);

			var requestPath = contextPath+"/rest/userFile/"+credentials.password+"/"+credentials.email+"/"+activeUserDirectory+fileName;
			xmlHttpRequest.open("POST", requestPath, true);
			xmlHttpRequest.setRequestHeader("X-CSRF-TOKEN", csrfData.token);
			xmlHttpRequest.onreadystatechange = function(){
				if(xmlHttpRequest.readyState === 4){
					console.log(xmlHttpRequest.responseText);
				}
			}
			xmlHttpRequest.send(formData);
		}

		function showChildFolder(childDirectoryName){
			setActiveUserDirectory(getActiveUserDirectory()+childDirectoryName+"/");
			forceUpdate();	
		}

		function init(){
			document.getElementById("upFolderButton").setAttribute("onclick", "showParentFolder()");
		}

	</script>

	<style type="text/css">
		.fileInfo{
			display: none;
		}

		.selected{
			border: 2px solid #000099;
    		border-radius: 5px;
		}
	</style>
	
</head>
<body onload="updateFilesList(); init();">
	<div class="container">
		<div class="row">
			<div class="col-md-8"> 

				<div class="input-group">
					<span class="input-group-addon">Current directory</span>
					<p id="activeUserDirectoryInput" class="form-control"></p>
					<div class="input-group-btn">
						<button class="btn btn-default" id="upFolderButton" >
							Up
						</button>
					</div>
				</div>

				<br />

				<div class="well" id="filesListContainer" style="max-height: 70vh; overflow-y: scroll;">
					
				</div>
			</div>
			
			<div class="col-md-4">
				<div id="fileInfoBlock" style="display:none;">

					<p id="fileInfoBlock_fileNameField"></p>

					<div class="row" id="fileInfoBlock_fileTypeBlock">
						<div class="col-md-4">
							<p>File type:</p>
						</div>

						<div class="col-md-8">
							<p id="fileInfoBlock_fileTypeField"></p>
						</div>
					</div>

					<div class="row" id="fileInfoBlock_fileSizeBlock">
						<div class="col-md-4">
							<p>File size:</p>
						</div>

						<div class="col-md-8">
							<p id="fileInfoBlock_fileSizeField"></p>
						</div>
					</div>

					<div class="row" id="fileInfoBlock_creationTimeBlock">
						<div class="col-md-4">
							<p>Created:</p>
						</div>

						<div class="col-md-8">
							<p  id="fileInfoBlock_creationTimeField"></p>
						</div>
					</div>

					<div class="row" id="fileInfoBlock_lastModifiedBlock">
						<div class="col-md-4">
							<p>Last modified:</p>
						</div>

						<div class="col-md-8">
							<p id="fileInfoBlock_lastModifiedField"></p>
						</div>
					</div>

					<div class="row" id="fileInfoBlock_actionButtons">
						<div class="col-md-4">
							<button  id="fileInfoBlock_deleteButton" class="btn btn-md">Delete</button>
						</div>

						<div class="col-md-4">
							<input  id="fileInfoBlock_shareButton">
						</div>

						<div class="col-md-4">
							<button id="fileInfoBlock_downloadButton" class="btn btn-md">Download</button>
						</div>
					</div>
				</div>
			</div>
	  	</div>

	  	<div class="row">
	  		<div class="col-md-8">
	  			<input type="file" id="fileUploadItem" onchange="uploadFile(this)">
	  		</div>

	  		<div class="col-md-4">
	  		</div>
	  	</div>
	  </div>
</body>
</html>